body{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #333333; ;
}

li{
    display: inline-block;
}

li a{
    display: block;
    color: salmon;
    padding:1.2em ;
    text-decoration: none;

}
li a:hover{
    background-color:#000;
}